name: Playwright Tests

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Instalar dependências
        run: npm install -g yarn && yarn

      - name: Instalar Playwright Browsers
        run: yarn playwright install --with-deps

      # Inicia a API
      - name: Iniciar API
        run: |
          cd apps/api
          yarn start &
          npx wait-on http://localhost:3333

      # Inicia a WEB
      - name: Iniciar WEB
        run: |
          cd apps/web
          yarn start &
          npx wait-on http://localhost:8080

      # Roda os testes Playwright
      - name: Rodar testes Playwright
        run: yarn playwright test

      # Publica o relatório
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
