name: e2e

on:
  push:
    branches: [ "master" ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build images and start services
        uses: docker/actions/compose-action@v2
        with:
          compose-file: docker-compose.yml
          up-flags: "--wait"

      - name: Run Playwright tests
        env:
          BASE_URL: http://localhost:8080
        run: npx playwright test --reporter=line

      - name: Upload Playwright report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: playwright-report/

      - name: Shutdown containers
        uses: docker/actions/compose-action@v2
        with:
          compose-file: docker-compose.yml
          down-flags: "--volumes --remove-orphans"
