name: Playwright Tests

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  e2e:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: yarn

    - name: Install root dependencies (Playwright)
      run: yarn install --frozen-lockfile

    - name: Install API dependencies
      run: |
        cd apps/api
        yarn install --frozen-lockfile

    - name: Install WEB dependencies
      run: |
        cd apps/web
        yarn install --frozen-lockfile

    - name: Start API
      run: |
        cd apps/api
        nohup yarn start &
      env:
        PORT: 3333

    - name: Start Web UI
      run: |
        cd apps/web
        nohup yarn start &
      env:
        PORT: 8080

    - name: Wait for API
      run: npx wait-on http://localhost:3333

    - name: Wait for Web UI
      run: npx wait-on http://localhost:8080

    - name: Install Playwright Browsers
      run: npx playwright install --with-deps

    - name: Run Playwright tests
      run: npx playwright test
